*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}
.header
{
    background-color: lightblue;
}
.header_container, .header_nav, .header_nav_list li
{
    display: inline-block;
    margin: 5px;
}
.header_nav
{
    position: absolute;
    right: 0;
}
.header_nav_list a
{
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
}
.main
{
    background-color: antiquewhite;
}
.main_routes
{
    display: inline-block;
    padding: 10px;
    background-color: thistle;
}
.main_routes_container img
{
    display: block;
    margin: 5px 0;
    border-radius: 50%;
    padding: 30px;
}
.main_content
{
    display: inline-block;
    position: absolute;
    padding: 10px;
    font-size: 3rem;
}
.footer
{
    background-color: cornflowerblue;
    padding: 36.5px;
    text-align: center;
}
.footer a
{
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
}